$blue-lighter: #bfd6f6;
$blue-light: #8dbdff;
$blue: #64a1f4;
$blue-bold: #4a91f2;
$blue-bolder: #3b7dd8;

$text-color: #2c3e50;

// Navigation
$selected-color: #42b983;


$securelogin-color: #0F9BF3;

$program-header-color: #1c1d1e;
$program-background-color: #232426;
$program-container-background-color: #64a1f4;

$kentekenwiki-gradient-start: #FFB63B;
$kentekenwiki-gradient-end: #E5991E;
