<template>
  <div class="dot" :style="{'background-color': this.color}">
    <!--        <div class="hover"/>-->
  </div>
</template>

<script>
export default {
  name: 'Dot',
  props: {
    color: {
      type: String,
      default: 'blue'
    }
  },
};
</script>

<style scoped lang="scss">
$size: 12px;

.dot {
  height: $size;
  width: $size;
  border-radius: 100%;
  overflow: hidden;

  .hover {
    opacity: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: opacity 100ms ease-in-out;

    &:hover {
      opacity: 0.2;
    }
  }
}
</style>
