<template>
  <img :src="image.url" :alt="image.alt" class="image soft-shadow" :style="{
              'height': `${image.height}px`,
              'width': `${image.width}px`
            }"/>
</template>

<script>
import {Image} from '~/objects/Image'

export default {
  name: 'HoverAbleImage',
  props: {
    image: Image,
  },
}
</script>

<style lang="scss" scoped>
@media only screen and (min-width: 768px) {
  .image {
    background-size: cover;
    border-radius: 0.3rem;
    transition: transform .4s;

    &:hover {
      transform: scale(1.2);
    }
  }
}

@media only screen and (max-width: 768px) {
  .image {
    width: 100% !important;
    height: auto !important;
  }
}
</style>
