<template>
  <div class="image-container">
    <HoverAbleImage v-for="image of this.images" :image="image" :key="image.url"/>
  </div>
</template>

<script>
import HoverAbleImage from "~/components/HoverAbleImage.vue";

export default {
  name: 'ImageCollection',
  components: {
    HoverAbleImage
  },
  props: {
    images: {
      type: Array,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
  .image-container {
    margin-bottom: 20px;
  }
</style>
