<template>
  <div class="container">
    <div class="logo-container">
      <img class="logo" src="../static/KentekenWiki.png" alt="Kenteken Wiki" height="100">
      <span class="branding">Kenteken Wiki</span>
    </div>
    <p class="intro">To get a real picture and<br> a lot of information about the car.</p>
    <p class="description">This started as a project for personal use in the fall of 2018 for my friend an I. We
      released it to the play store for fun because we liked the concept and the design. After the first month we
      already got 2k+ downloads and we have still 300+ active users every day. In this project I touched almost every
      part of the project but I had the full responsibility of the hosting part of this application. The technology used
      to create the app is Flutter and for the backend we used GraphQL/Java/NodeJS with Kubernetes for the
      deployment.</p>
    <div class="images">
      <ImageCollection :images="this.images"/>
    </div>
  </div>
</template>

<script>
import {Image} from '~/objects/Image';
import ImageCollection from "~/components/ImageCollection.vue";

export default {
  name: 'KentekenWiki',
  components: {
    ImageCollection
  },
  data() {
    return {
      images: [
        new Image(450, null, require('~/static/test_kentekenwiki.png'), 'Screenshot of Kentekenwiki')
      ]
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../style/product-colors";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    .logo {
      border-radius: 20px;
      margin-right: 25px;
    }

    .branding {
      font-size: 1.7rem;
    }
  }

  .intro {
    width: 50%;
    text-align: center;
    margin-top: 50px;

    font-style: italic;
    font-size: 2rem;
    line-height: 2.5rem;

    @media only screen and (max-width: 768px) {
      & {
        width: 90%;
      }
    }
  }

  .description {
    width: 50%;
    text-align: center;

    margin-top: 50px;
    line-height: 1.5rem;

    @media only screen and (max-width: 768px) {
      & {
        width: 90%;
      }
    }
  }

  .images {
    display: flex;
    margin-top: 5rem;
    align-items: center;
  }
}
</style>
