<template>
  <div class="content-container">
    <div class="intro">
      <img class="profile-picture" src="../static/profi_selfie.webp" alt="Profile picture">
      <div class="divider"/>
      <span class="name">Tom Lanser</span>
    </div>
    <div class="about">
      <p>I'm a Developer to the core and I really enjoy learning new things.<br> I have the most experience as a
        Full-stack Developer. <br>Besides that I also have a quite good understanding of CI/CD and Kubernetes.
      </p>

      <div class="about-divider"/>
    </div>
    <div class="icons">
      <a class="icon vuejs" href="https://nodejs.org/" target="_blank" title="VueJS">
        <img src="../static/vuejs.webp" alt="VueJS">
      </a>
      <a class="icon nodejs" href="https://nodejs.org/" target="_blank" title="NodeJs">
        <img src="../static/nodejs.svg" alt="NodeJs">
      </a>
      <a class="icon k8s" href="https://kubernetes.io/" target="_blank" title="Kubernetes">
        <img src="../static/kubernetes.webp" alt="Kubernetes">
      </a>
      <a class="icon flutter" href="https://flutter.dev/" target="_blank" title="Flutter">
        <img src="../static/flutter.webp" alt="Flutter">
      </a>
    </div>
  </div>
</template>

<script>

export default {
  name: 'ProgramContent'
};
</script>

<style lang="scss" scoped>
@import "../style/product-colors";

.content-container {
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;

  .intro {
    display: flex;
    color: white;
    align-items: center;
    flex: 1;

    .profile-picture {
      display: flex;
      margin: 1rem;
      $profile-picture-size: 7rem;

      height: $profile-picture-size;
      width: $profile-picture-size;
      border-radius: 100%;
      background-size: cover;
      background-image: url("../static/profi_selfie.webp");
    }

    .divider {
      width: 1px;
      height: 50%;
      background-color: lighten($program-background-color, 20%);
      margin-right: 15px;
    }

    .name {
      display: flex;
      align-items: center;
      font-size: 2rem;
    }
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    flex: 1;

    p {
      text-align: center;
      line-height: 1.3rem;
      width: 90%;
    }

    .about-divider {
      height: 1px;
      width: 30%;
      background-color: lighten($program-background-color, 20%);
    }
  }

  .icons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 30px 0;

    .icon {
      $icon-size: 50px;

      height: $icon-size;
      width: $icon-size;

      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      cursor: pointer;

      img {
        height: $icon-size;
        width: $icon-size;
        object-fit: contain;
      }
    }
  }
}
</style>
