<template>
  <div class="container soft-shadow">
    <div class="header">
      <div class="dots">
        <Dot color="#ff6057"/>
        <Dot color="#fdbc2e"/>
        <Dot color="#28c840"/>
      </div>
    </div>
    <div class="content">
      <ProgramContent/>
    </div>
  </div>
</template>

<script>
import Dot from "~/components/Dot";
import ProgramContent from "~/components/ProgramContent.vue";

export default {
  name: 'Program',
  components: {
    Dot,
    ProgramContent
  }
};
</script>

<style scoped lang="scss">
@import "../style/product-colors";

.container {
  border-radius: 0.5rem;
  overflow: hidden;
  border-color: #8f8f8f;
  border-width: 1px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  margin: 0 5px;

  height: 30rem;
  width: 50rem;

  @media only screen and (max-width: 50rem) {
    width: auto;
  }

  .header {
    display: flex;
    width: 100%;
    min-height: 30px;
    height: 30px;
    background-color: $program-header-color;

    .dots {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: space-evenly;
      margin-left: 7px;
      width: 16px * 4;
      justify-self: left;
    }
  }

  .content {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: $program-background-color;
  }
}
</style>
