<template>
  <div class="container">
    <img class="logo" src="../static/securelogin.svg" alt="Securelogin" height="50">
    <p class="intro">To make the life for an accountant<br>as easy and efficient as possible.</p>
    <p class="description">I started working as an intern for Securelogin in September 2018. After a really good
      internship I was asked to join the team and I did. I was responsible for the back-end, front-end and CI/CD
      operations.</p>
    <div class="images">
      <ImageCollection :images="this.images"/>
    </div>
  </div>
</template>

<script>
import {Image} from '~/objects/Image';
import ImageCollection from "~/components/ImageCollection.vue";

export default {
  name: 'Securelogin',
  components: {
    ImageCollection
  },
  data() {
    return {
      images: [
        new Image(320, null, require('~/static/securelogin_screenshot.webp'), 'Screenshot of Securelogin')
      ]
    }
  }
};
</script>

<style lang="scss" scoped>
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    margin-top: 50px;
  }

  .intro {
    width: 50%;
    text-align: center;
    margin-top: 50px;

    font-style: italic;
    font-size: 2rem;
    line-height: 2.5rem;

    @media only screen and (max-width: 768px) {
      & {
        width: 90%;
      }
    }
  }

  .description {
    width: 50%;

    text-align: center;

    margin-top: 50px;
    line-height: 1.5rem;

    @media only screen and (max-width: 768px) {
      & {
        width: 90%;
      }
    }
  }

  .images {
    display: flex;
    margin-top: 5rem;
    align-items: center;
  }
}
</style>
