<template>
  <div class="social-icon" :style="{
    'background-image': iconUrl
  }"/>
</template>

<script>
export default {
  name: "SocialIcon",
  props: {
    targetUrl: {
      type: String,
      default: ""
    },
    iconUrl: {
      type: String,
      default: ""
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
