<template>
  <div class="bar">
    <SocialIcon/>
  </div>
</template>

<script>
import SocialIcon from "@/components/SocialIcon";

export default {
  name: "SocialBar",
  components: {
    SocialIcon
  }
}
</script>

<style lang="scss" scoped>
.bar {
  display: flex;
  flex-direction: column;
}
</style>
