<template>
  <div class="home">
    <div class="intro-container">
      <Program class="program"/>
    </div>
    <div class="securelogin-container">
      <Securelogin/>
    </div>
    <div class="kentekenwiki-container">
      <KentekenWiki/>
    </div>
  </div>
</template>

<script>
import Program from '../components/Program'
import Securelogin from '../components/Securelogin'
import KentekenWiki from '~/components/KentekenWiki'
import SocialBar from "~/components/SocialBar";

export default {
  components: {
    SocialBar,
    KentekenWiki,
    Program,
    Securelogin,
  },
}
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");
@import "../style/product-colors";

.home {
  font-family: 'Kumbh Sans', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
}
</style>

<style lang="scss" scoped>
@import "../style/product-colors";

.intro-container {
  display: flex;
  height: 80vh;
  background-color: $program-container-background-color;
  align-items: center;
  justify-content: center;
}

.securelogin-container {
  min-height: 100vh;
  width: 100%;
}

.kentekenwiki-container {
  background-color: #303030;
  min-height: 100vh;
  width: 100%;
  color: white;
}
</style>
